<!--Strat Main Container-->
<style>
    body {
        padding-bottom: 0px;
    }
</style>

<div id="body-wrapper">
    <header class="fixed-head">
        <!--Start Top Header-->
        <nav class="navbar navbar-default nav-custom">
            <div class="container menu-box">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">

                    <!-- <div class="main-logo"></div>-->
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
            </div>
        </nav>
    </header>
    <!--End Top Header-->
    <!--Start content-->
    <div class="main-container main-parent">
        <div class="content-wrapper">
            <div class="container page-inner">


                <div class="row">
                    <div class="col-sm-12 text-right"><input type="button" value="Try Again" ng-click="refresh();" class="btn btn-success"></div>
                </div>

                <div class="row">

                    <div class="col-sm-6">
                        <h1 class="error-style">{{ErrorMessage}}</h1>
                        <h2>Please click on try again button.</h2>
                    </div>

                    <div class="col-sm-6 error-img">
                        <img src="../assets/img/19.png" />
                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="clear"></div>
    <div class="footer"><p>© Copyright 2016</p></div>
</div>
<!--End Main container-->

