﻿

<div class="container-fluid mt-2">
	<div class="row">
        <div class="col-md-12">
            <h3 class="title">Processing Credit Card</h3>                
        </div>
        
        <div class="col col-sm-12">
            <div class="message-cart">
                <div class="icon">
                    <i class="fa fa-exclamation-triangle cart" aria-hidden="true"></i>
                </div>
                <div class="msg-text">
                	<div class="alert alert-danger" role="alert">                    
                    	<p><strong>Transaction was not successful!</strong> <br> 
                        	<strong>Declined transaction:</strong> {{errorMsg}}. Please try again!</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button class="btn btn-default" ui-sref="payDeposit">Try Again </button>
                            <button class="btn btn-warning" ui-sref="start.search">Continue Shopping </button>
                            <button class="btn btn-primary" ui-sref="cartNotEmpty">Back to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

