﻿<div id="imageDiv" ng-if="ShowLoader" class="overLayGIF overLayGIF1">
    <div>
        <img class="div_img" src="~/../assets/img/32.gif" />
    </div>
</div>
<!--Strat Main Container-->
<div id="body-wrapper">
    <header class="fixed-head">


        <!--Start Top Header-->
        <nav class="navbar navbar-default nav-custom">
            <div class="container menu-box">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="" id="hamburger-inner-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- <div class="main-logo"></div>-->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="inner-navbar">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#/account"><span class="menu-img"><i class="fa fa-user" aria-hidden="true"></i></span>Your Account</a></li>
                        <li><a ng-click="paymentHistory()"><span class="menu-img"><i class="fa fa-history" aria-hidden="true"></i></span>Payment History</a></li>
                        <li><a href="#/changeAc"><span class="menu-img"><i class="fa fa-cog" aria-hidden="true"></i></span>Change Account Info</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="header-top">
            <div class="container">
                <p class="top-content">{{storeINFO}}</p>
                <div class="user-name float-R"><span class="user-box">{{userFLName}}</span><!--<input type="submit" value="Logout" class="logout" ng-click="logoutClick();"><i class="fa fa-sign-out" aria-hidden="true"></i>--></div>
            </div>
        </div>
    </header>
    <!--End Top Header-->
    <!--Start content-->
    <div class="main-container">
        <div class="content-wrapper">
            <div class="container page-inner">
                <h4>Checkout</h4>
                <p class="sub-text"><strong>Payment Summary</strong></p>

                <div class="table-responsive grid_wrapper">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-hover grid-custom right_align_3 tablelayout" id="tblProducts">
                        <thead>
                        <tr>
                            <th width="20%">Amount Due</th>
                            <th width="20%">Description</th>
                            <th width="20%">Account Type</th>
                            <th width="20%">Account Number</th>
                            <th width="20%">Next Due Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="payments in payment">
                            <td title="Amount Due">{{payments.amountOfPayment | currency}}</td>
                            <td title="Description">{{payments.itemDescription}}</td>
                            <td title="Account Type">{{payments.accountType}} &nbsp;</td>
                            <td title="Account Numbers">{{payments.accountID}} &nbsp;</td>
                            <td title="Next Due Date">{{localDateTime(payments.nextDueDate)| date:'MM/dd/yyyy'}} &nbsp;</td>
                        </tr>

                        <tr>
                            <td><span class="pull-left"><strong>Total</strong></span>  <span class="pull-right"><strong>{{total}}</strong></span></td>
                            <td colspan="4"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <div class="payment-form">
                    <p class="text-warning" id="hideMsg">
                        <span><strong> Do NOT interrupt the process once it has started! </strong></span><span> Part of this page will disappear after hitting Make Payment. Please be patient, as it could take a up to a minute to process your payment! </span>
                        <br />

                    </p>
                    <p class="sub-text" id="showMsg">
                        <span> <strong> Do NOT </strong>  interrupt the process once it has started!</span>
                    </p>

                    <p class="sub-text"><h3>Charge Total: {{total}}</h3></p>

                    <!--  ========isEnable1=========   -->
                    <div ng-show="isEnable1" class="checkout-form">
                        <h3>Enter Card Information</h3>
                        <form name="paymentinfoform" method="post" ng-submit="MakePayment_Payeezy()" novalidate class="form-horizontal form_align clearfix" id="paymentinfoform">

                            <div class="clearfix"></div>

                            <div class="form-group col-sm-6 col-md-3 row" id="card-detail">
                                <label class="col-sm-12 row">Card Type: *</label>
                                <select payeezy-data="card_type" name="card_type" focus-me ng-model="cardType" ng-change="verifyCard(cardType)" class="form-control" required>
                                    <option value="">Select Card Type</option>
                                    <option ng-repeat="cards in cardTypes | orderBy">{{cards}}</option>

                                </select>
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group col-sm-6 col-md-3 row" ng-class="{ 'has-error' : paymentinfoform.cardholder_Name.$invalid && !paymentinfoform.cardholder_Name.$pristine }">
                                <label class="col-sm-12 row">Cardholder Name :*</label>
                                <input type="text" payeezy-data="cardholder_name" name="cardholder_Name" ng-model="cardholderName" class="form-control" required>
                                <p ng-show="paymentinfoform.cardholder_Name.$invalid && !paymentinfoform.cardholder_Name.$pristine" class="error">Card Holder Name is required field</p>
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group col-sm-6 col-md-3 row" ng-class="{ 'has-error' : paymentinfoform.card_Number.$invalid && !paymentinfoform.card_Number.$pristine }">
                                <label class="col-sm-12 row">Card Number: *</label>
                                <input type="text" name="card_Number" payeezy-data="cc_number" maxlength="16" ng-model="cardNumber" ng-maxlength="cardLength" ng-minlength="cardLength" class="form-control" id="Card-Number" allow-pattern="\d" ng-pattern="/^[0-9]*$/" required>


                                <div ng-messages="paymentinfoform.card_Number.$error" ng-if="paymentinfoform.card_Number.$dirty">
                                    <div ng-message="required" class="error">Card is required.</div>
                                    <div ng-message="maxlength" class="error">Card is invalid</div>
                                    <div ng-message="minlength" class="error">Card is invalid</div>
                                    <div ng-message="pattern" class="error">Card is invalid</div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group col-sm-6 row col-md-3" ng-class="{ 'has-error' : paymentinfoform.exp_year.$invalid && !paymentinfoform.exp_year.$pristine }">
                                <label class="col-sm-12 col-md-12 row">Expiry Date(MM/YYYY): *</label>
                                <div class="col-sm-6 col-md-6 pad-L-0 pad-R_exp-0">
                                    <select payeezy-data="exp_month" ng-model="exp_month" name="exp_month" class="form-control" card-expiration required>

                                        <option disabled selected value="">Month</option>
                                        <option ng-repeat="exp_month in months" value="{{$index+1}}"> {{$index+1}} - {{exp_month}}</option>
                                    </select>
                                </div>

                                <div class="col-sm-6 col-md-6 pad-R-0 pad-L-0 mar-top-10" year-drop offset="0" range="20" >
                                    <select payeezy-data="exp_year" ng-model="exp_year" name="exp_year" class="form-control" required>

                                        <option disabled selected value="">Year</option>
                                        <option ng-repeat="exp_year in [] | range:currentYear:currentYear+20" value="{{exp_year | strLimit : 2 : 2}}" >{{exp_year}}</option>

                                    </select>

                                </div>

                                <div ng-show="paymentinfoform.exp_year.$error" ng-if="paymentinfoform.exp_year.$dirty" class="error-msg">
                                    <!--<li ng-show="paymentinfoform.exp_year.$error.required" class="error">Expiration year required</li>-->
                                    <div ng-show="paymentinfoform.exp_month.$error.invalid" class="error">Provided expiration date is invalid</div>
                                </div>
                            </div>


                            <div class="clearfix"></div>

                            <div class="form-group col-sm-4 col-md-3 row" ng-class="{ 'has-error' : paymentinfoform.cvv_code.$invalid && !paymentinfoform.cvv_code.$pristine }">
                                <label class="col-sm-12 col-md-12 pad-L1-0 pad-L-0">CVV: * <i class="fa fa-question-circle" aria-hidden="true"></i></label>
                                <div class="col-sm-9 col-md-6 pad-L-0 pad-R_exp-0 padd_R_7">
                                    <input type="password" maxlength="4" name="cvv_code" payeezy-data="cvv_code" ng-maxlength="cvvLength" ng-minlength="cvvLength" ng-model="cvvCode" class="form-control" allow-pattern="\d" ng-pattern="/^[0-9]*$/" required>
                                </div>
                                <div ng-messages="paymentinfoform.cvv_code.$error" ng-if="paymentinfoform.cvv_code.$dirty" class="error-msg">
                                    <div ng-message="required" class="error">CVV is required.</div>
                                    <div ng-message="maxlength" class="error">CVV is invalid</div>
                                    <div ng-message="pattern" class="error">CVV is invalid</div>
                                </div>
                            </div>


                            <div class="clearfix"></div>
                            <h3>Customer Information</h3>

                            <div class="col-sm-12 col-md-12 row" ng-class="{ 'has-error' : paymentinfoform.zip_postal_code.$invalid && !paymentinfoform.zip_postal_code.$pristine }">
                                <div class="form-group col-sm-3 col-md-2  row">
                                    <label>Zip Code: *</label>

                                    <div class="col-md-9 col-sm-12 pad-L-0 pad-R-0 pad-R1-0 padd_R_7">
                                        <input type="text" payeezy-data="zip_postal_code" name="zip_postal_code" maxlength="5" class="form-control" ng-model="zip_postal_code" id="Zip-Code" allow-pattern="\d" ng-pattern="/^[0-9]*$/" required>
                                    </div>

                                    <div ng-messages="paymentinfoform.zip_postal_code.$error" ng-if="paymentinfoform.zip_postal_code.$dirty" class="error-msg">
                                        <div ng-message="required" class="error">Customer ZipCode is required.</div>
                                        <div ng-message="pattern" class="error">ZipCode is invalid.</div>
                                    </div>
                                </div>
                                <div class="col-sm-4 pad-L-0 pad-R-0 pad-R1-0 chek-make-payment">
                                    <input type="submit" id="NCpayment" ng-disabled="paymentinfoform.$invalid" value="Make Payment" class="btn btn-success">
                                </div>
                            </div>

                            <div id="dis2" class="error">{{apiErrorMessage}}</div>
                            <div id="someHiddenDiv">
                                <label class="error" id="payment-errors"></label>
                                <label class="error" id="response_msg"></label>
                                <label class="error" id="response_note"></label>
                            </div>

                        </form>

                        <div class="col-sm-12 pad-L-0 pad-R-0 non-saved-btn">
                            <input type="submit" value="Use Saved Card" ng-click="savedCard();" class="btn btn-success pull-right">
                        </div>
                    </div>

                    <!--  ========isEnable2=========   -->
                    <div ng-show="isEnable2">
                        <form class="checkout-form clearfix" method="post" novalidate class="form-horizontal" ng-submit="MakePayment_SC(SelectedcardTy);" name="paymentinfo" id="paymentinfo">
                            <div class="form-group col-xs-12 col-sm-3 pad-L-0 pad-R-0">

                                <div class="col-sm-12 pad-L-0 pad-R-0">
                                    <select class="form-control" ng-model="SelectedcardTy" ng-options="item.last4 + ' ' + '(' + item.cardType +')'  for item in items" required>
                                        <option value='' ng-hide="SelectedcardTy">None</option>
                                    </select>
                                </div>
                            </div>

                            <div id="dis2" class="error">{{apiErrorMessage}}</div>

                            <div class="col-xs-12 col-sm-6 col-sm-6 make-payment-btn">
                                <input type="submit" ng-disabled="paymentinfo.$invalid" value="Make Payment" id="SCPayment" class="btn btn-success">
                            </div>
                        </form>
                        <div class="col-sm-12 text-right m-left pad-L1-0 non-saved-btn">
                            <input type="submit" value="Enter a Non-Saved Card" ng-click="NonSavedCard();" class="btn btn-success">
                        </div>
                    </div>

                    <!--for Card Connct-->

                    <!--  ========isEnable3=========   -->

                    <div ng-show="isEnable3" class="checkout-form" id="ccPay">
                        <h3>Enter Card Information</h3>

                        <!--<form name="cc_paymentinfoform" method="post" ng-submit="PayOptnSubmit();" novalidate class="form-horizontal form_align clearfix" id="cc_paymentinfoform" required>-->
                        <form name="cc_paymentinfoform" method="post" ng-submit="cc_NewCardPayment();" novalidate class="form-horizontal form_align clearfix" id="cc_paymentinfoform" required>

                            <div class="clearfix"></div>
                            <div class="form-group col-sm-6 col-md-3 row">
                                <label class="col-sm-12 row">Card Type: *</label>

                                <select cardconnect-data="cardType" name="cardType" ng-model="cardType" ng-change="ccVerifyCard(cardType)" class="form-control" required>
                                    <option value="">Select Card Type</option>
                                    <option ng-repeat="cards in cardTypes | orderBy">{{cards}}</option>
                                </select>

                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group col-sm-6 col-md-3 row" ng-class="{ 'has-error' : cc_paymentinfoform.cardholderName.$invalid && !cc_paymentinfoform.cardholderName.$pristine }">
                                <label class="col-sm-12 row">Cardholder Name :*</label>
                                <input type="text" name="cardholderName" ng-model="cardholderName" class="form-control" required>
                                <p ng-show="cc_paymentinfoform.cardholder_Name.$invalid && !cc_paymentinfoform.cardholder_Name.$pristine" class="error">Card Holder Name is required field</p>
                            </div>
                            <div class="clearfix"></div>

<!--                            <div class="form-group col-sm-6 col-md-3 row">-->
<!--                                <label class="col-sm-12 row">Card Number: *</label>-->
<!--                                <iframe id="tokenframe" name="tokenframe" frameborder="0" scrolling="no"  class="form-control"></iframe>-->
<!--                                <p id="cardNumberValidationError" name="cardNumberValidationError" class="error"></p>-->
<!--                            </div>-->

                            <div>
                                <iframe id="tokenframe" name="tokenframe" frameborder="0" scrolling="no" width="200" height="160"></iframe>
                                <p id="cardNumberValidationError" name="cardNumberValidationError" class="error"></p>
                            </div>

                            <div class="clearfix"></div>

<!--                            <div class="form-group col-sm-6 row col-md-3" ng-class="{ 'has-error' : cc_paymentinfoform.exp_year.$invalid && cc_paymentinfoform.exp_month.$invalid  && !cc_paymentinfoform.exp_year.$pristine }">-->
<!--                                <label class="col-sm-12 col-md-12 row">Expiry Date(MM/YYYY): *</label>-->
<!--                                <div class="col-sm-6 col-md-6 pad-L-0 pad-R_exp-0">-->
<!--                                    <select cardconnect-data="exp_month" ng-model="exp_month" name="exp_month" class="form-control" card-expiration required>-->
<!--                                        <option value="">Month</option>-->
<!--                                        <option value="01">01</option>-->
<!--                                        <option value="02">02</option>-->
<!--                                        <option value="03">03</option>-->
<!--                                        <option value="04">04</option>-->
<!--                                        <option value="05">05</option>-->
<!--                                        <option value="06">06</option>-->
<!--                                        <option value="07">07</option>-->
<!--                                        <option value="08">08</option>-->
<!--                                        <option value="09">09</option>-->
<!--                                        <option value="10">10</option>-->
<!--                                        <option value="11">11</option>-->
<!--                                        <option value="12">12</option>-->
<!--                                    </select>-->
<!--                                </div>-->

<!--                                <div class="col-sm-6 col-md-6 pad-R-0 pad-L-0 mar-top-10" year-drop offset="0" range="20">-->
<!--                                    <select cardconnect-data="exp_year" ng-model="exp_year" name="exp_year" class="form-control" required>-->
<!--                                        <option value="">Year</option>-->
<!--                                        <option ng-repeat="item in years" value="{{item | strLimit : 2 : 2}}">-->
<!--                                            {{item}}-->
<!--                                        </option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                                <div ng-show="cc_paymentinfoform.exp_year.$error" ng-if="cc_paymentinfoform.exp_year.$dirty" class="error-msg">-->
<!--                                    <div ng-show="cc_paymentinfoform.exp_month.$error.invalid" class="error">Provided expiration date is invalid</div>-->
<!--                                </div>-->
<!--                            </div>-->


<!--                            <div class="clearfix"></div>-->

<!--                            <div class="form-group col-sm-4 col-md-3 row" ng-class="{ 'has-error' : cc_paymentinfoform.cvv_code.$invalid && !cc_paymentinfoform.cvv_code.$pristine }">-->
<!--                                <label class="col-sm-12 col-md-12 pad-L1-0 pad-L-0">CVV: * <i class="fa fa-question-circle" aria-hidden="true"></i></label>-->
<!--                                <div class="col-sm-9 col-md-6 pad-L-0 pad-R_exp-0 padd_R_7">-->
<!--                                    <input type="password" minlength="3" maxlength="4" name="cvvCode" cardconnect-data="cvvCode" ng-maxlength="cvvLength" ng-minlength="cvvLength" ng-model="cvvCode" class="form-control" allow-pattern="\d" ng-pattern="/^[0-9]*$/" required>-->
<!--                                </div>-->
<!--                                <div ng-messages="cc_paymentinfoform.cvvCode.$error" ng-if="cc_paymentinfoform.cvvCode.$dirty" class="error-msg">-->
<!--                                    <div ng-message="required" class="error">CVV is required.</div>-->
<!--                                    <div ng-message="maxlength" class="error">CVV is invalid</div>-->
<!--                                    <div ng-message="minlength" class="error">CVV is invalid</div>-->
<!--                                    <div ng-message="pattern" class="error">CVV is invalid</div>-->
<!--                                </div>-->

<!--                            </div>-->


                            <div class="clearfix"></div>
                            <h3>Customer Information</h3>
                            <div class="col-sm-12 col-md-12 row" ng-class="{ 'has-error' : cc_paymentinfoform.zip_postal_code.$invalid && !cc_paymentinfoform.zip_postal_code.$pristine }">
                                <div class="form-group col-sm-3 col-md-2  row">
                                    <label>Zip Code: *</label>

                                    <div class="col-md-9 col-sm-12 pad-L-0 pad-R-0 pad-R1-0 padd_R_7">
                                        <input type="text" name="zip_postal_code" minlength="3" maxlength="5" class="form-control" ng-model="zip_postal_code" id="Zip-Code" allow-pattern="\d" ng-pattern="/^[0-9]*$/" required>
                                    </div>

                                    <div ng-messages="cc_paymentinfoform.zip_postal_code.$error" ng-if="cc_paymentinfoform.zip_postal_code.$dirty" class="error-msg">
                                        <div ng-message="required" class="error">Customer ZipCode is required.</div>
                                        <div ng-message="pattern" class="error">ZipCode is invalid.</div>
                                    </div>

                                    <!--<p ng-show="paymentinfoform.zip_postal_code.$invalid && !paymentinfoform.zip_postal_code.$pristine" class="error">Zip Code is required field</p>-->
                                </div>

                                <div class="col-sm-4 pad-L-0 pad-R-0 pad-R1-0 chek-make-payment">

                                    <input type="submit" id="ccNCpayment" ng-disabled="cc_paymentinfoform.$invalid || !checkToken" value="Make Payment" class="btn btn-success">

                                </div>
                            </div>

                            <input type="hidden" name="token" id="token">
                            <input type="hidden" name="expDate" id="expDate">
                            <div id="dis3" class="error">{{apiErrorMessage}}</div>
                            <div id="someHiddenDiv3">
                                <label class="error" id="cc_payment-errors"></label>
                                <label class="error" id="cc_response_msg"></label>
                                <label class="error" id="cc_response_note"></label>
                            </div>
                        </form>

                        <div class="col-sm-12 pad-L-0 pad-R-0 non-saved-btn">
                            <input type="submit" value="Use Saved Card" ng-click="savedCard();" class="btn btn-success pull-right">

                        </div>
                    </div>

                    <!--End Card Connect-->

                </div>

            </div>

        </div>
    </div>
    <div class="clear"></div>
    <div class="footer"><p>© Copyright 2016  |   <a href="#/ReportIssue">Report Issue</a></p></div>
</div>
<!--End Main container-->
<!-- All Javascript include here for fast loading of page -->
